.gambar {
  width: 250px;
  height: 250px;
}
.diskon {
  width: 250px;
  height: 300px;
}
.gambardashbord {
  width: 80px;
  height: 80px;
}
.tablegambar {
  width: 80px;
  height: 80px;
}
.banner {
  width: 100px;
  height: 200px;
}
.brand {
  width: 60px;
  height: 60px;
}
